html {
  /* background: linear-gradient(to bottom, rgba(211, 188, 200, 1), rgba(23, 196, 215, 1)); */
  background-image: url('../public/back.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.text-area {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.back-button {
  margin-top: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  padding: 0 5%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1,
h2,
h6 {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.text-area {
  width: 80%; /* Задает ширину 80% */
  height: 70%; /* Задает высоту 70% */
  padding: 10px;
  margin-bottom: 10px;
}

.back {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5%;
  border-radius: 25px;
  margin-bottom: 30%;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
}